In [ ]:
#output without print
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all"

# Exercise 1

## Part 1.a

1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

In [1]:
n = int(1e2)
list_1a = list(range(1,n+1)) #create a "list" w/ char&numb, "range" = [1,101)
#print(list_1a); print(list_1a[0],list_1a[2])
list_1a[2::3] = ["Mickey"]*int(n/3) #start: 3rd el (0,1,2<-); stop: none; step: 3
list_1a[4::5] = ["Mouse"]*(int(n/5))
list_1a[14::15] = ["MickeyMouse"]*(int(n/15))

print(list_1a[:100], "\n");

#another try:
list_2a = list(range(1,n+1))
for x in range(1,int(n/3+1)): list_2a[3*x-1]="Mickey" #"+1" due to initial place is 0// "-1" since array starts from 0th el
for x in range(1,int(n/5+1)): list_2a[5*x-1]="Mouse";
for x in range(1,int(n/15)+1): list_2a[15*x-1]="MickeyMouse";
print(list_2a[:100])
a= int(0);
for i in range(0, int(1e2)): 
    if list_1a[i] == list_2a[i]: a=a+1; #print(list_1a[i],list_2a[i]);
    #else: print("Error in", list_1a[i],list_2a[i]);
#print("\n",a)
if a==1e2: print("\nThey're the same")
else: print("\nThey're not the same")

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

They're the same

## Part 1.b

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [2]:
list_1b = tuple(list_1a)

var_1b = list(list_1b)

var_1b[2::3] = ["Donald"]*(int(n/3))
var_1b[4::5] = ["Duck"]*(int(n/5))
var_1b[14::15] = ["DonaldDuck"]*(int(n/15))

list_1b_2 = tuple(var_1b)

print(list_1b_2[:100])

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

# Exercise 2

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
def swap_with_temp(a,b):
    temp = a
    a = b
    b = temp
    return(a,b)

def swap_without_temp(a,b):
    return(b,a); print("noone is printing me")
    

x = [4, "swap"]
y = True
print("Init:    ", x,y)

x,y = swap_with_temp(x,y)
print("1st swap:", x,y)
x,y = swap_without_temp(x,y)
print("2nd swap:",x,y)
x,y = y,x #same as swap_without_temp but without defining a function
print("3rd swap:", x,y)

Init:     [4, 'swap'] True
1st swap: True [4, 'swap']
2nd swap: [4, 'swap'] True
3rd swap: True [4, 'swap']

# Exercise 3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [4]:
from math import sqrt #or import math but under math.sqrt()
from scipy.spatial import distance
w = list(range(0,2));

def eucl_dist(u,v):
    w = ((u[i]-v[i])**2 for i in [0,1]); #vector-like
    return(sqrt(sum(w)))

def e_d(u,v): 
    temp = int(0)
    for i in [0,1]: w[i]=(u[i]-v[i])**2; temp += w[i] #array-like
    return(sqrt(temp))
        

u = (3,0)
v = (0,4)

print(eucl_dist(u,v))
print(e_d(u,v))
print(distance.euclidean(u,v))

5.0
5.0
5.0

# Exercise 4

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [10]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [11]:
s_low = s.lower()

count_4 = {}

for char in s_low:
    count_4[char] = s_low.count(char)
#print("a is counted", count_4["a"])
for i in sorted(count_4):
    print("%s : %s" %(i, count_4[i]))

  : 41
. : 2
0 : 2
1 : 2
a : 7
b : 5
c : 3
d : 3
e : 22
f : 10
g : 1
h : 9
i : 14
k : 2
l : 6
m : 12
n : 10
o : 13
p : 8
r : 17
s : 9
t : 19
u : 9
v : 2
w : 2
y : 2

# Exercise 5

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [5]:
l = [36,45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [51]:
#1st method: create a dict w/ some places w/o a #
unique={} #print(type(unique))
for numb in l: unique[numb] = l.count(numb) #???

print("There are %i unique numbers in the list and they are:" %len(unique))
print(*sorted(unique), sep=",")

#2nd method
unique_values=set(l) #sets cannot have multiple occurrences of the same element and store unordered values.
print("\nThe ordered unique %s values are \n %s" %(len(set(l)), unique_values) )

#3rd method
import numpy as np
def unique(list1): 
    x = np.array(list1) 
    return(np.unique(x))

print("\nThere are %i unique numbers in the list and they are:" %len(unique(l)))
print(*unique(l), sep=",")

<class 'dict'>
There are 54 unique numbers in the list and they are:
1,3,5,8,9,10,16,18,19,20,24,30,31,33,34,36,37,39,41,42,45,47,50,51,53,54,55,56,57,58,63,64,66,70,72,74,75,79,81,82,84,85,86,87,88,89,90,91,92,94,95,96,98,99

The ordered unique 54 values are
 {1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}

There are 54 unique numbers in the list and they are:
1,3,5,8,9,10,16,18,19,20,24,30,31,33,34,36,37,39,41,42,45,47,50,51,53,54,55,56,57,58,63,64,66,70,72,74,75,79,81,82,84,85,86,87,88,89,90,91,92,94,95,96,98,99

# Exercise 6

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [42]:
def square(x):
    return(x*x)
    
def cube(x):
    return(x**3)

def sixth_pow(x):
    return(square(cube(x)))

x_6=2

print(square(x_6))
print(cube(x_6))
print(sixth_pow(x_6))

4
8
64

# Exercise 7

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [10]:
cubes_for = []

for x in range(11):
    cubes_for.append(x**3)

print(cubes_for)

cubes_comp = [x**3 for x in range(11)]

print(cubes_comp)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# Exercise 8

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [11]:
from math import sqrt

n_8 = 100
numb_8 = range(1,n)

triplets = []

for i in numb_8[:int(0.5*(sqrt(2*n**2)-1))]:
    for j in numb_8[i:int(sqrt(n**2-i**2))]:
        if (sqrt(i**2 + j**2)).is_integer() and sqrt(i**2 + j**2)<100: triplets.append([i,j,int(sqrt(i**2 + j**2))])

print(triplets)

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 20, 25], [15, 36, 39], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 21, 29], [20, 48, 52], [21, 28, 35], [21, 72, 75], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 45, 53], [30, 40, 50], [30, 72, 78], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 84, 91], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 42, 58], [40, 75, 85], [42, 56, 70], [45, 60, 75], [48, 55, 73], [48, 64, 80], [51, 68, 85], [54, 72, 90], [57, 76, 95], [60, 63, 87], [65, 72, 97]]

In [12]:
tnr = [] #triplets not repeated (multiples)

for i in range(0,len(triplets)):
    ins = True
    for j in range(i):
        if (triplets[i][0]%triplets[j][0])==0:
            if triplets[j][1]*int(triplets[i][0]/triplets[j][0]) == triplets[i][1]:
                ins = False
                break
    if ins:
        tnr.append(triplets[i])
            
print(tnr)

[[3, 4, 5], [5, 12, 13], [7, 24, 25], [8, 15, 17], [9, 40, 41], [11, 60, 61], [12, 35, 37], [13, 84, 85], [16, 63, 65], [20, 21, 29], [28, 45, 53], [33, 56, 65], [36, 77, 85], [39, 80, 89], [48, 55, 73], [65, 72, 97]]

# Exercise 9

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [13]:
def normal(tup,precision="no"):
    list_tup = list(tup)
    max = list_tup[1]
    min = list_tup[1]
    for num in list_tup:
        if num > max : max = num
        if num < min : min = num
    for i in range(len(list_tup)):
        if precision == "no" : list_tup[i]=(list_tup[i]-min)/(max-min)
        else : list_tup[i]=round((list_tup[i]-min)/(max-min),precision)
    return(tuple(list_tup))


tup = (-3,8.7,1.12,3,-4.6)

print(normal(tup,4))

(0.1203, 1.0, 0.4301, 0.5714, 0.0)